APP_NAME=attendance-system

NODE_ENV=development
PORT=3000

JWT_SECRET=your-secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_URL=postgresql://postgres:password@localhost:5432/auth_db

RABBITMQ_URI=amqp://guest:guest@localhost:5672

GRPC_AUTH_URL=0.0.0.0:50051
GRPC_EMPLOYEE_URL=0.0.0.0:50052
GRPC_ATTENDANCE_URL=0.0.0.0:50053
GRPC_NOTIFICATION_URL=0.0.0.0:50054